.box{
    display: inline-block;
}
.size{
    display: inline-flex;
    list-style: none;
    background-color: #fff;
    border-radius: 99px;
    box-shadow: 0 0 1px 0 rgba(#185ee0, 0.15), 0 6px 12px 0 rgba(#185ee0, 0.15);
    padding: 10px;
    position: relative;
}
.size__item{
    width: 150px;
    height: 44px;
    border-radius: 99px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
	font-weight: 500;
    transition: .25s linear;
    z-index: 2;
    cursor: pointer;
    transition: color .25s ease-out;
}
.size__item:first-child{
    color: #185ee0;
}
.size--active{
    position: absolute;
    height: 44px;
    width: 150px;
    background-color: #e6eef9;
    border-radius: 99px;
    transition: .25s ease-out;
}
.stats{
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.score{
} 
.record{

}
.game__container{
    position: relative;
}
.blocks{
    list-style: none;
    background-color: rgb(181, 181, 181);
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    height: 550px;
    justify-content: space-around;
    align-items: center;
    /* overflow: hidden; */
    box-shadow: 1px 2px 7px rgb(181, 181, 181);
}

.block{
    width: 125px;
    height: 125px;
    background-color: rgb(125, 125, 125);
    box-shadow: 1px 2px 7px rgb(125, 125, 125);

    transition: .3s all linear;
    pointer-events: none; 
    /* opacity: 0.5;  */
}
.block:hover{
    cursor: pointer;
}
.block--active{
    background-color: coral;
    box-shadow: 1px 2px 7px coral;

}
.block--correct{
    background-color: greenyellow;
    box-shadow: 1px 2px 7px greenyellow;

}
.block--incorrect{
    background-color: rgb(219, 29, 29);
    box-shadow: 1px 2px 7px rgb(219, 29, 29);

}

.button{
    display: inline-block;
    padding: 20px 40px;
    background-color: palevioletred;
    box-shadow: 1px 2px 7px palevioletred;
    margin: 20px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 10px;
    transition: .2s background-color linear;
}
.button:hover{
    background-color: rgb(199, 64, 109);
}
.result{
    position: absolute;
    top: 50%;
    width: 400px;
    height: 300px;
    background-color: #000000;
    box-shadow: 1px 2px 7px #000000;
    color: #fff;
    border-radius: 15px;
    font-size: 40px;
    display: none;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    animation: animationResult .25s linear forwards;
    text-transform: uppercase;
    font-weight: 900;
}

@keyframes animationResult {
    from{
        left: 0;
        transform: translate(0%, -50%);
    }
    to{
        left: 50%;
        transform: translate(-50%, -50%);
    }
}